<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroui-nupkgs" value="../../ZeroPlatform/ZeroUI/nupkgs" />
    <add key="zeroui-packages" value="../../ZeroPlatform/ZeroUI/packages" />
    <add key="zeroui-dist-packages" value="../../ZeroPlatform/ZeroUI/dist/packages" />
    <add key="zerocompression-packages" value="../../ZeroPlatform/ZeroCompression/dist/packages" />
  </packageSources>
</configuration>
